src/main/resources/wsdl/ArubaSignService.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.2.1-1 (tags/2.2.1-1-7267; 2012-08-30T14:04:51+0000) JAXWS-RI/2.2.7 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://arubasignservice.arubapec.it/" xmlns:xmime="http://www.w3.org/2005/05/xmlmime" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://arubasignservice.arubapec.it/">

<xs:import namespace="http://www.w3.org/2005/05/xmlmime" schemaLocation="xmlmime.xsd"/>
<xs:element name="TypeOfTransportNotImplemented" type="tns:TypeOfTransportNotImplemented"/>

<xs:element name="addpkcs7sign" type="tns:addpkcs7sign"/>

<xs:element name="addpkcs7signResponse" type="tns:addpkcs7signResponse"/>

<xs:element name="closesession" type="tns:closesession"/>

<xs:element name="closesessionResponse" type="tns:closesessionResponse"/>

<xs:element name="getVersion" type="tns:getVersion"/>

<xs:element name="getVersionResponse" type="tns:getVersionResponse"/>

<xs:element name="listCert" type="tns:listCert"/>

<xs:element name="listCertResponse" type="tns:listCertResponse"/>

<xs:element name="listprocess" type="tns:listprocess"/>

<xs:element name="listprocessResponse" type="tns:listprocessResponse"/>

<xs:element name="m7m" type="tns:m7m"/>

<xs:element name="m7mResponse" type="tns:m7mResponse"/>

<xs:element name="opensession" type="tns:opensession"/>

<xs:element name="opensessionResponse" type="tns:opensessionResponse"/>

<xs:element name="pdfsignature" type="tns:pdfsignature"/>

<xs:element name="pdfsignatureResponse" type="tns:pdfsignatureResponse"/>

<xs:element name="pdfsignatureV2" type="tns:pdfsignatureV2"/>

<xs:element name="pdfsignatureV2Response" type="tns:pdfsignatureV2Response"/>

<xs:element name="pdfsignatureV2_multiple" type="tns:pdfsignatureV2_multiple"/>

<xs:element name="pdfsignatureV2_multipleResponse" type="tns:pdfsignatureV2_multipleResponse"/>

<xs:element name="ping" type="tns:ping"/>

<xs:element name="pingResponse" type="tns:pingResponse"/>

<xs:element name="pkcs7sign" type="tns:pkcs7sign"/>

<xs:element name="pkcs7signResponse" type="tns:pkcs7signResponse"/>

<xs:element name="pkcs7signV2" type="tns:pkcs7signV2"/>

<xs:element name="pkcs7signV2Response" type="tns:pkcs7signV2Response"/>

<xs:element name="pkcs7signV2_multiple" type="tns:pkcs7signV2_multiple"/>

<xs:element name="pkcs7signV2_multipleResponse" type="tns:pkcs7signV2_multipleResponse"/>

<xs:element name="pkcs7signhash" type="tns:pkcs7signhash"/>

<xs:element name="pkcs7signhashResponse" type="tns:pkcs7signhashResponse"/>

<xs:element name="pkcs7signhash_multiple" type="tns:pkcs7signhash_multiple"/>

<xs:element name="pkcs7signhash_multipleResponse" type="tns:pkcs7signhash_multipleResponse"/>

<xs:element name="sendCredential" type="tns:sendCredential"/>

<xs:element name="sendCredentialResponse" type="tns:sendCredentialResponse"/>

<xs:element name="signhash" type="tns:signhash"/>

<xs:element name="signhashResponse" type="tns:signhashResponse"/>

<xs:element name="tsd" type="tns:tsd"/>

<xs:element name="tsdResponse" type="tns:tsdResponse"/>

<xs:element name="tsr" type="tns:tsr"/>

<xs:element name="tsrResponse" type="tns:tsrResponse"/>

<xs:element name="verify" type="tns:verify"/>

<xs:element name="verifyOtp" type="tns:verifyOtp"/>

<xs:element name="verifyOtpResponse" type="tns:verifyOtpResponse"/>

<xs:element name="verifyResponse" type="tns:verifyResponse"/>

<xs:element name="xmlsignature" type="tns:xmlsignature"/>

<xs:element name="xmlsignatureResponse" type="tns:xmlsignatureResponse"/>

<xs:element name="xmlsignature_multiple" type="tns:xmlsignature_multiple"/>

<xs:element name="xmlsignature_multipleResponse" type="tns:xmlsignature_multipleResponse"/>

<xs:complexType name="opensession">
<xs:sequence>
<xs:element name="Identity" type="tns:auth" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="auth">
<xs:sequence>
<xs:element name="delegated_domain" type="xs:string" minOccurs="0"/>
<xs:element name="delegated_password" type="xs:string" minOccurs="0"/>
<xs:element name="delegated_user" type="xs:string" minOccurs="0"/>
<xs:element name="ext_auth_blobvalue" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="ext_auth_value" type="xs:string" minOccurs="0"/>
<xs:element name="ext_authtype" type="tns:credentialsType" minOccurs="0"/>
<xs:element name="otpPwd" type="xs:string" minOccurs="0"/>
<xs:element name="typeHSM" type="xs:string" minOccurs="0"/>
<xs:element name="typeOtpAuth" type="xs:string" minOccurs="0"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
<xs:element name="userPWD" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="opensessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pdfsignatureV2_multiple">
<xs:sequence>
<xs:element name="identity" type="tns:auth" minOccurs="0"/>
<xs:element name="SignRequestV2" type="tns:signRequestV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="Apparence" type="tns:pdfSignApparence" minOccurs="0"/>
<xs:element name="pdfprofile" type="tns:pdfProfile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signRequestV2">
<xs:sequence>
<xs:element name="binaryinput" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="certID" type="xs:string" minOccurs="0"/>
<xs:element name="dstName" type="xs:string" minOccurs="0"/>
<xs:element name="identity" type="tns:auth" minOccurs="0"/>
<xs:element name="notify_id" type="xs:string" minOccurs="0"/>
<xs:element name="notifymail" type="xs:string" minOccurs="0"/>
<xs:element name="profile" type="xs:string" minOccurs="0"/>
<xs:element name="requiredmark" type="xs:boolean"/>
<xs:element name="session_id" type="xs:string" minOccurs="0"/>
<xs:element name="signingTime" type="xs:string" minOccurs="0"/>
<xs:element name="srcName" type="xs:string" minOccurs="0"/>
<xs:element name="stream" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="transport" type="tns:typeTransport" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pdfSignApparence">
<xs:sequence>
<xs:element name="image" type="xs:string" minOccurs="0"/>
<xs:element name="leftx" type="xs:int"/>
<xs:element name="lefty" type="xs:int"/>
<xs:element name="location" type="xs:string" minOccurs="0"/>
<xs:element name="page" type="xs:int"/>
<xs:element name="reason" type="xs:string" minOccurs="0"/>
<xs:element name="rightx" type="xs:int"/>
<xs:element name="righty" type="xs:int"/>
<xs:element name="testo" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pdfsignatureV2_multipleResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2Multiple" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signReturnV2Multiple">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="return_code" type="xs:string" minOccurs="0"/>
<xs:element name="return_signs" type="tns:signReturnV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signReturnV2">
<xs:sequence>
<xs:element name="binaryoutput" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="dstPath" type="xs:string" minOccurs="0"/>
<xs:element name="return_code" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="stream" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="TypeOfTransportNotImplemented">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addpkcs7sign">
<xs:sequence>
<xs:element name="SignRequestV2" type="tns:signRequestV2" minOccurs="0"/>
<xs:element name="detached" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addpkcs7signResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="m7m">
<xs:sequence>
<xs:element name="MarkRequest" type="tns:markRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="markRequest">
<xs:sequence>
<xs:element name="binaryinput" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="dstName" type="xs:string" minOccurs="0"/>
<xs:element name="notify_id" type="xs:string" minOccurs="0"/>
<xs:element name="notifymail" type="xs:string" minOccurs="0"/>
<xs:element name="password" type="xs:string" minOccurs="0"/>
<xs:element name="srcName" type="xs:string" minOccurs="0"/>
<xs:element name="stream" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="transport" type="tns:typeTransport" minOccurs="0"/>
<xs:element name="user" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="m7mResponse">
<xs:sequence>
<xs:element name="return" type="tns:markReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="markReturn">
<xs:sequence>
<xs:element name="binaryoutput" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="dstPath" type="xs:string" minOccurs="0"/>
<xs:element name="return_code" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="stream" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ping">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="pingResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="xmlsignature_multiple">
<xs:sequence>
<xs:element name="identity" type="tns:auth" minOccurs="0"/>
<xs:element name="SignRequestV2" type="tns:signRequestV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="parameter" type="tns:xmlSignatureParameter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="xmlSignatureParameter">
<xs:sequence>
<xs:element name="canonicalizedType" type="tns:canonicalizedType" minOccurs="0"/>
<xs:element name="transforms" type="tns:transform" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="type" type="tns:xmlSignatureType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="transform">
<xs:sequence>
<xs:element name="type" type="tns:transformType" minOccurs="0"/>
<xs:element name="value" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="xmlsignature_multipleResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2Multiple" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pdfsignatureV2">
<xs:sequence>
<xs:element name="SignRequestV2" type="tns:signRequestV2" minOccurs="0"/>
<xs:element name="Apparence" type="tns:pdfSignApparence" minOccurs="0"/>
<xs:element name="pdfprofile" type="tns:pdfProfile" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pdfsignatureV2Response">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="xmlsignature">
<xs:sequence>
<xs:element name="SignRequestV2" type="tns:signRequestV2" minOccurs="0"/>
<xs:element name="parameter" type="tns:xmlSignatureParameter" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="xmlsignatureResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tsr">
<xs:sequence>
<xs:element name="MarkRequest" type="tns:markRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tsrResponse">
<xs:sequence>
<xs:element name="return" type="tns:markReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getVersion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getVersionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signhash">
<xs:sequence>
<xs:element name="SignRequestV2" type="tns:signRequestV2" minOccurs="0"/>
<xs:element name="countersignature" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signhashResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signhash">
<xs:sequence>
<xs:element name="SignHashRequest" type="tns:signHashRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signHashRequest">
<xs:sequence>
<xs:element name="certID" type="xs:string" minOccurs="0"/>
<xs:element name="hash" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="hashtype" type="xs:string" minOccurs="0"/>
<xs:element name="identity" type="tns:auth" minOccurs="0"/>
<xs:element name="requirecert" type="xs:boolean"/>
<xs:element name="session_id" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signhashResponse">
<xs:sequence>
<xs:element name="return" type="tns:signHashReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signHashReturn">
<xs:sequence>
<xs:element name="cert" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="certID" type="xs:string" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="return_code" type="xs:string" minOccurs="0"/>
<xs:element name="signature" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closesession">
<xs:sequence>
<xs:element name="Identity" type="tns:auth" minOccurs="0"/>
<xs:element name="sessionid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="closesessionResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signhash_multiple">
<xs:sequence>
<xs:element name="identity" type="tns:auth" minOccurs="0"/>
<xs:element name="SignRequestV2" type="tns:signRequestV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="countersignature" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signhash_multipleResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2Multiple" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyOtp">
<xs:sequence>
<xs:element name="Identity" type="tns:auth" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyOtpResponse">
<xs:sequence>
<xs:element name="return" type="tns:arssReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="arssReturn">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="return_code" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signV2">
<xs:sequence>
<xs:element name="SignRequestV2" type="tns:signRequestV2" minOccurs="0"/>
<xs:element name="detached" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signV2Response">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listCert">
<xs:sequence>
<xs:element name="Identity" type="tns:auth" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listCertResponse">
<xs:sequence>
<xs:element name="return" type="tns:userCertList" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="userCertList">
<xs:sequence>
<xs:element name="app1" type="tns:cert" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="app2" type="tns:cert" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cert">
<xs:sequence>
<xs:element name="id" type="xs:string" minOccurs="0"/>
<xs:element name="value" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listprocess">
<xs:sequence>
<xs:element name="Identity" type="tns:auth" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="listprocessResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7sign">
<xs:sequence>
<xs:element name="SignRequest" type="tns:signRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signRequest">
<xs:sequence>
<xs:element name="bynaryinput" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="certID" type="xs:string" minOccurs="0"/>
<xs:element name="dstNmae" type="xs:string" minOccurs="0"/>
<xs:element name="identity" type="tns:auth" minOccurs="0"/>
<xs:element name="notity_id" type="xs:string" minOccurs="0"/>
<xs:element name="notitymail" type="xs:string" minOccurs="0"/>
<xs:element name="srcName" type="xs:string" minOccurs="0"/>
<xs:element name="transport" type="tns:typeTransport" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signReturn">
<xs:sequence>
<xs:element name="bynaryoutput" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="dstPath" type="xs:string" minOccurs="0"/>
<xs:element name="return_code" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendCredential">
<xs:sequence>
<xs:element name="Identity" type="tns:auth" minOccurs="0"/>
<xs:element name="type" type="tns:credentialsType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="sendCredentialResponse">
<xs:sequence>
<xs:element name="return" type="tns:arssReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pdfsignature">
<xs:sequence>
<xs:element name="SignRequest" type="tns:signRequest" minOccurs="0"/>
<xs:element name="Apparence" type="tns:pdfSignApparence" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pdfsignatureResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signV2_multiple">
<xs:sequence>
<xs:element name="identity" type="tns:auth" minOccurs="0"/>
<xs:element name="SignRequestV2" type="tns:signRequestV2" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="detached" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pkcs7signV2_multipleResponse">
<xs:sequence>
<xs:element name="return" type="tns:signReturnV2Multiple" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tsd">
<xs:sequence>
<xs:element name="MarkRequest" type="tns:markRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="tsdResponse">
<xs:sequence>
<xs:element name="return" type="tns:markReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verify">
<xs:sequence>
<xs:element name="request" type="tns:verifyRequest" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyRequest">
<xs:sequence>
<xs:element name="binaryinput" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="dstName" type="xs:string" minOccurs="0"/>
<xs:element name="notity_id" type="xs:string" minOccurs="0"/>
<xs:element name="notitymail" type="xs:string" minOccurs="0"/>
<xs:element name="srcName" type="xs:string" minOccurs="0"/>
<xs:element name="stream" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="transport" type="tns:typeTransport" minOccurs="0"/>
<xs:element name="type" type="tns:documentType" minOccurs="0"/>
<xs:element name="verdate" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyResponse">
<xs:sequence>
<xs:element name="return" type="tns:verifyReturn" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifyReturn">
<xs:sequence>
<xs:element name="binaryoutput" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="dstPath" type="xs:string" minOccurs="0"/>
<xs:element name="result" type="tns:verifySignatures" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
<xs:element name="stream" xmime:expectedContentTypes="application/octet-stream" type="xs:base64Binary" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="verifySignatures">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="mark" type="tns:mark" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="signer" type="tns:signer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="mark">
<xs:sequence>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="signername" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="signer">
<xs:sequence>
<xs:element name="countersigners" type="tns:signer" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="description" type="xs:string" minOccurs="0"/>
<xs:element name="marks" type="tns:mark" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
<xs:element name="result" type="xs:string" minOccurs="0"/>
<xs:element name="serialnumber" type="xs:string" minOccurs="0"/>
<xs:element name="signername" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:simpleType name="credentialsType">
<xs:restriction base="xs:string">
<xs:enumeration value="SMS"/>
<xs:enumeration value="ARUBACALL"/>
<xs:enumeration value="CNS2"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="typeTransport">
<xs:restriction base="xs:string">
<xs:enumeration value="BYNARYNET"/>
<xs:enumeration value="FILENAME"/>
<xs:enumeration value="DIRECTORYNAME"/>
<xs:enumeration value="STREAM"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="pdfProfile">
<xs:restriction base="xs:string">
<xs:enumeration value="BASIC"/>
<xs:enumeration value="PADESBES"/>
<xs:enumeration value="PADESLTV"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="canonicalizedType">
<xs:restriction base="xs:string">
<xs:enumeration value="ALGO_ID_C14N11_OMIT_COMMENTS"/>
<xs:enumeration value="ALGO_ID_C14N11_WITH_COMMENTS"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="transformType">
<xs:restriction base="xs:string">
<xs:enumeration value="CANONICAL_WITH_COMMENT"/>
<xs:enumeration value="CANONICAL_OMIT_COMMENT"/>
<xs:enumeration value="BASE64"/>
<xs:enumeration value="XPATH2_INTERSECT"/>
<xs:enumeration value="XPATH2_SUBTRACT"/>
<xs:enumeration value="XPATH2_UNION"/>
<xs:enumeration value="XSLT"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="xmlSignatureType">
<xs:restriction base="xs:string">
<xs:enumeration value="XMLENVELOPED"/>
<xs:enumeration value="XMLENVELOPING"/>
<xs:enumeration value="XMLDETACHED_INTERNAL"/>
</xs:restriction>
</xs:simpleType>

<xs:simpleType name="documentType">
<xs:restriction base="xs:string">
<xs:enumeration value="PKCS7"/>
<xs:enumeration value="PDF"/>
<xs:enumeration value="XML"/>
<xs:enumeration value="TSD"/>
</xs:restriction>
</xs:simpleType>
</xs:schema>